/* LOGIN SECTION */
#login, .login-section {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #6a85ff, #b06aff);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.login-box {
    background: white;
    padding: 42px 34px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 595px;
    width: 85%;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.login-box h1 {
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.login-box p {
    font-size: 1.2rem;
    margin: 15px 0;
}

.login-box a {
    color: #6a5acd;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.login-box a:hover {
    text-decoration: underline;
}
