/* PROFILE / PROGRESS SECTION */
.profile-section {
    width: 100%;
    min-height: 100vh;
    padding: 80px 40px;
}

.profile-section h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.profile-section p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}
