body {
    font-family: Arial, sans-serif;
    background: #090909;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    background: rgb(110, 203, 35);
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #e9ecef;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background: red;
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
